.randomness .content {
  padding-left: 0; /* LTR */
}

#page #randomness-canvas {
  overflow: hidden;
  background: transparent;
}
#page #randomness-canvas .randomness-particle {
  position: absolute;
}
